<a href="https://colab.research.google.com/github/nkumbh/100-days-of-code-youtube/blob/main/NNLab_150224.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
1+2

3

Print **systax**

In [2]:
print("Hi") #comment

Hi

In [3]:
a=5  #a is of type int
print(a)

5

In [4]:
b="chandra" #b is of type string
print(b)

chandra

In [5]:
x=str(5) #typecast interger into string
print(x)

5

In [8]:
a1=3
x1=float(a1)   #typecast interger into float
print(x1)

3.0

In [12]:
print(type(b))

<class 'str'>

In [13]:
print(type(x1))

<class 'float'>

In [14]:
print(type(a1))

<class 'int'>

**Variable names are case sensitive**

some variable names are not allowed like variable names start with digits eg. 1a, (a 1)

In [15]:
a=4
A=5

In [16]:
print(a)

4

In [17]:
print(A)

5

In [21]:
a1, a2, a3 = "chandra", "patna", "9876543210"  #multiple variable: multiple values

In [22]:
print(a1)
print(a2)
print(a3)

chandra
patna
9876543210

In [23]:
b1 = b2 = b3 = "adak" #multiple variable: one value

In [24]:
print(b1)
print(b2)
print(b3)

adak
adak
adak

In [26]:
person = [ "chandra", "patna", "9876543210"]    #list
a1, a2, a3 = person

In [27]:
print(a3)

9876543210

In [28]:
print(a1, a2, a3)

chandra patna 9876543210

In [29]:
print(a1+a2+a3)      # '+' is used for string concatination

chandrapatna9876543210

In [31]:
x = 1
y = 2
print(x+y)

3

In [30]:
x = "1"
y = "2"
print(x+y)

12

In [34]:
x = 1     #int
y = "chandra"   #string
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
x = 1     #int
y = "chandra"   #string
print(str(x) + y)  #to concatinate we need to typecast x

1chandra

In [36]:
x = True #x is bool
print(x)

True

In [38]:
x = "True"     #x is string
print(x)

True

**Swapping the values**

In [39]:
a=5
b=6

temp = a
a = b
b = temp

print(a,b)

6 5

In [40]:
x = 5
y = 6

x,y = y,x

print(x,y)

6 5

In [44]:
x = 10
y = 6

print(x+y, x-y, x*y, x/y, x%y, x//y)

16 4 60 1.6666666666666667 4 1

In [45]:
print(2**3)    #exponential

8

In [46]:
x = 1
x = x + 1
print(x)

2

In [48]:
x = 1
x += 1
print(x)

2

In [49]:
x = 1
x -= 1
print(x)

0

In [50]:
x = 2
x **=3         # x = x**3
print(x)

8

In [56]:
a = 1
b = 2
if b>a:
  print("b is greater than a")

b is greater than a

In [60]:
a = 1
b = 2
if (b>a):
  print("b is greater than a")
elif a==b:
  print("b is equal to a")
else:
  print("a is greater than b")

b is greater than a

**HomeWork**

**Among 3 variables find the maximum one **

In [61]:
x1 = 1
x2 = 2
x3 = 3
if x3 > x1 and x3 > x2:
  print("x3 is maximum")

x3 is maximum

In [64]:
a = 1
b = 2
if not a>b:      # b>a
  print("b is greater than a")

b is greater than a

In [67]:
i=1

while i<5:
  print(i)
  i += 1

1
2
3
4

In [74]:
list1 = ['cat', 'dog', 'chicken']
print(list1)

['cat', 'dog', 'chicken']

In [73]:
print(len(list1))

3

In [75]:
print(type(list1))

<class 'list'>

In [76]:
list2 = ['narendra', 32, True]    #string, int, bool

In [77]:
print(list2)

['narendra', 32, True]

In [78]:
print(type(list2))

<class 'list'>

In [80]:
print(list1[0])

cat

In [81]:
print(list1[1], list2[2])

dog True

In [82]:
print(list1[-1])

chicken

In [83]:
list3 = ['cat', 'dog', 'chicken', 'cow', 'whale', 'crow']

In [88]:
print(list3[1:6:2])   #start:end:difference

['dog', 'cow', 'crow']

In [89]:
print(list3[0:-1])

['cat', 'dog', 'chicken', 'cow', 'whale']

In [90]:
print(list3[0:])

['cat', 'dog', 'chicken', 'cow', 'whale', 'crow']

In [91]:
print(list3[:4])

['cat', 'dog', 'chicken', 'cow']

In [93]:
print(list3[-4:-1])

['chicken', 'cow', 'whale']

In [94]:
print(list3[-6:-2])

['cat', 'dog', 'chicken', 'cow']

In [95]:
print(list3[0:4])

['cat', 'dog', 'chicken', 'cow']

In [98]:
if 'hen' in list3:
  print("found")
else:
  print("not found")

not found